<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <%= image_tag Settings.avatar %>
        <div class="file btn btn-lg btn-primary">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h4><%= @user.name %></h4>
        <h6><%= @user.email %></h6>
      </div>
    </div>
    <div class="col-md-2">
      <%= link_to t(".edit"), edit_user_path(@user.id), class: "profile-edit-btn", remote: true %>
    </div>
  </div>
</div>
<div id = "edit-modal">
</div>
