<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 text-center">
      <h2><%= t ".suc" %></h2>
    </div>
  </div>
</div>
<%= form_tag payment_path, method: :post do %>
  <%= submit_tag t(".pay"), class: "btn btn-primary", id:"success-payment" %>
<% end %>
