default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: 123456


development:
  <<: *default
  database: hiring_vehicles

test:
  <<: *default
  database: hiring_vehicles_test

production:
  <<: *default
  database: hiring_vehicles_production
