<div class="col-lg-4 col-md-6">
  <div class="categorie-item">
    <%= image_tag check_image(vehicle) %>
    <div class="ci-text">
      <h5><%= link_to vehicle.name, vehicle %></h5>
      <p><%= vehicle.description.truncate Settings.short_text %></p>
      <span><%= vehicle.price %>VND/H</span>
    </div>
  </div>
</div>
