$gray: #313342;
$gray-lite: #b2b1b1;
$blue-lite: #19dafa;
$pink: #fd00da;
$white: #fff;
$gray-white: #919191;
$p_color: #9da094;
$green_lite: #22a808;
$black: black;
$white-blue: rgb(234, 234, 245);
$orange: orange;
$pink: rgb(216, 42, 78);
