@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';

body {
  background-color: $gray;
}

#show-vehicle-img {
  margin-left: 400px;
}

.course-meta-area {
  margin-top: 50px;
}

.dropdown-menu {
  background-color: $pink;
  margin-left: 42px;
}

.list-vehicle {
  margin-top: 250px;
}
