@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: $gray;
  position: relative;
  color: $white;
}

.menu {
  ul {
    display: inline-flex;
    margin: 50px;
    li {
      list-style: none;
      margin: 0 15px;
      color: $gray_lite;
      cursor: pointer;
      font-size: 20px;
      a {
        color: $gray-lite
      }
    }
  }
}

.logo {
  img {
    width: 100px;
    margin-top: -24px;
    margin-right: 0px;
  }
}

.active {
  color: $blue-lite !important;
}

.signup-btn {
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: $white;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient($gray, $gray), 
  radial-gradient(circle at top left, $pink, $blue-lite);
  background-origin: border-box;
  background-clip: content-box,border-box;
  span {
    display: block;
    padding: 8px 22px;
  }
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
  color: $white;
  margin-top: 200px;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 40px;
}

.app-text p {
  width: 650px;
  font-size: 15px;
  margin: 30px 0px 30px 40px;
  line-height: 25px;
  color: $gray-white;
}

.app-picture {
  width: 620px;
  float: right;
  img {
    width: 100%;
  }
}

.vehicle-show {
  width: 620px;
  margin-left: 450px;
  img {
    width: 100%;
  }
}

.selection {
  color: black;
}

.hour-field {
  display:inline-block
}

#hiring-time {
  width: 200px;
  float: left;
  .card {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  }
  #card_image {
  width: 230px;
  height: 170px;
  }
}
