@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: $white-blue;
  position: relative;
  color: $black;
}

.menu {
  height: 100px;
  ul {
    display: inline-flex;
    margin: 50px;
    li {
      list-style: none;
      margin: 0 15px;
      color: $black;
      cursor: pointer;
      font-size: 20px;
      a {
        color: $black;
      }
      ul {
        position:absolute;
        display: none;
        margin-top: -20px;
        margin-left: 0px;
      }
    }
  }
}

.logo {
  img {
    width: 100px;
    margin-top: -24px;
    margin-right: 0px;
  }
}

.active {
  color: $blue-lite !important;
}

.signup-btn {
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: $white;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient($white, $white),
  radial-gradient(circle at top left, $pink, $blue-lite);
  background-origin: border-box;
  background-clip: content-box,border-box;
  span {
    display: block;
    padding: 8px 22px;
  }
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
  color: $white;
  margin-top: 200px;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 40px;
  color: $black;
}

.app-text p {
  width: 650px;
  font-size: 15px;
  margin: 30px 0px 30px 40px;
  line-height: 25px;
  color: $black;
}

.app-picture {
  width: 620px;
  float: right;
  img {
    width: 100%;
  }
}

.vehicle-show {
  width: 620px;
  margin-left: 196px;
  img {
    width: 100%;
  }
}

.selection {
  color: $black;
}

.hour-field {
  display:inline-block
}

#hiring-time {
  width: 200px;
  float: left;
  .card {
  width: 250px;
  height: 250px;
  border: 1px solid white;
  }
  #card_image {
  width: 230px;
  height: 170px;
  }
}

#search-field {
  color: black;
}

.vehicle-card {
  width: 600px;
  height: 400px;
  margin-left: 150px;
  
  #vehicle_image {
    width: 300px;
    height: 250px;
  }

  #card_btn {
    margin-left: 100px;
  }

  #card_title {
    margin-left: 400px;
    margin-bottom: -60px;
  }
}
#comments {
  color: $black;
  margin-left: 300px;
  #text_area {
    width: 500px;
  }
  #comment {
    h3{
      color: $green_lite;
    }

    p {
      color: $p_color;
    }

    #reply {
      margin-left: 50px;
    }

    #comment-content {
      border: 1px solid gray;
      width: 250px;
      height: 50px;
    }
  }
}
.hiring-form {
  font-size: 20px;
  padding-left: 190px;
  #price {
    p {
      display : inline;
    }
  }
  .btn {
    margin-left: -278px;
  }
}
#subtotal {
  width: 200px;
  height: 50px;
  margin-left: 297px;
  border: 1px solid gray;
  color: greenyellow;
  padding-top: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
  p {
    display : inline;
  }
}

#myModal {
  color: $black;
}

.search-input {
  color: $black;
  border: 1px $black;
}

#search-button {
  height: 25px;
  width: 25px;
  border: 0px;
  background-color: $white-blue;
}

#image-vehicle {
  width: 500px;
  height: 400px;
  margin-left: 128px;
}

input {
  color: $black;
}

.table {
  background-color: $white;
}
