@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';

body {
  background-color: $gray;
}

#show-vehicle-img {
  margin-left: 400px;
}

.course-meta-area {
  margin-top: 50px;
}

.dropdown-menu {
  background-color: $pink;
  margin-left: 42px;
}

.list-vehicle {
  margin-top: 250px;
}

.profile {
  width: 1170px;
}

.emp-profile {
  padding: 3%;
  margin-top: 200px;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;

  img {
    width: 70%;
    height: 100%;
  }

  .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;

    input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
    }
  }
}

.profile-head {
  h5 {
    color: #333;
  }

  h6 {
    color: #0062cc;
  }
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;

  span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
}

.profile-head .nav-tabs {
  margin-bottom: 5%;

  .nav-link {
    font-weight: 600;
    border: none;

    &.active {
      border: none;
      border-bottom: 2px solid #0062cc;
    }
  }
}

.profile-work {
  padding: 14%;
  margin-top: -15%;

  p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }

  a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }

  ul {
    list-style: none;
  }
}

.profile-tab {
  label {
    font-weight: 600;
  }

  p {
    font-weight: 600;
    color: #0062cc;
  }
}

.table{
  background-color: $white;
}
